<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<br>
    <form action="/chats/new" method="get">
        <button>New Chat</button>
    </form>
    <div class="chats-con">
       <% for(let chat of chats){ %>
            <div class="chat">
                <p>From: <i><%= chat.from  %></i></p>
                
            <div class="msg">
                <p>Message: <%= chat.msg %></p>
               <form action="/chats/<%= chat._id %>/edit" method="get">
                <button>Edit</button>
                
               </form>
               <br>
               <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
                <button>Delete</button>
               </form>
            </div>
            <p>To: <i><%= chat.to  %></i></p>
            <hr>
            <p> Time: <%= chat.time.toString().split(" ")[4] %></p>
            <p> Day:  <%= chat.time.toString().split(" ").slice(0,4).join("-") %></p>


            </div>
    <% } %>
    </div>
</body>
</html>

